<section>
    <div class="container mt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <h2 class="text-center">Add Banner Images</h2>
                <form action="/multi-image-upload" enctype="multipart/form-data" method="post">
                    <label for="">Name</label>
                    <input type="text" name="Name" id="name" class="form-control" >
                    <label for="">Image</label>
                    <input  type="file" name="image" multiple/>

                    {{!-- <label for="">Image</label>
                    <input id="image2" type="file" name="Image1" class="form-control" data-toggle="modal" data-target="#modal" /> --}}
                    {{!-- <div>
                        <img src="" alt="" id="hi">
                    </div> --}}
                     <div class="text-center" >
                    <button type="submit" class="btn btn-success mt-4 ml-auto ">Submit</button>
                    {{!-- <button type="submit" class="btn btn-success mt-4 ml-auto " onclick="return Check()">Submit</button> --}}
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</section>
{{#each multImages}}
<section>
    <hr>
    <div class="row d-flex justify-content-center border">
        {{#each images}}
        <img src="/product-images/{{this}}" alt="" class="m-5 border" style="width:200px; height: 150px;">
        {{/each}}
    </div>
</section>
{{/each}}

<hr>



<script>
    function Check(){
        v1=document.getElementById("name").value
        v2=document.getElementById("image1").value
        v3=document.getElementById("image2").value
        if(v1==""||v3==""||v2=="")
        {
            alert("Enter details")
            return false
        }
        else{
            return true
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

