
 <div class="container vh-100 d-flex justify-content-center justify-content-center align-items-center" >
        <div class="col-lg-6 shadow  p-5 border-round56" style="background-color: #fff !important;" >
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item m-2 " role="presentation">
                    <a class="nav-link shadow active bg-dark" style="font-weight: bold;">Login</a>
                </li>
                <li class="nav-item shadow m-2 " role="presentation">
                    <a class="nav-link border border-dark" href="/register" style="color: tomato;font-weight: bold;">Register</a>
                </li>
            </ul>
            <!-- Pills navs -->

            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form class="text-center" action="/logIn" method="post" role="form">

                        <h2 class="text-center">LOGIN</h2>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="loginName" class="form-control" placeholder="Email or username" name="uname" value="tech.sibly@gmail.com"/>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="loginPassword" class="form-control" placeholder="Password" name="pass" value="12345"/>
                        </div>

                        {{#if loginError}}
                            <p style="color: red;">{{loginError}}</p>
                        {{/if}}
                        {{#if loginBlock}}
                            <p style="color: red;">{{loginBlock}}</p>
                        {{/if}}

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-dark btn-block mb-4">Login</button>
                        <a href="/otp-login" style="text-decoration:underline ;">Login in with OTP?</a>
                    </form>
                </div>
            </div>
            <!-- Pills content -->

        </div>
    </div>
    </div>
